<h1><%= h @recipe.title %></h1>
<p><span id="vote_score">
score: <%=@recipe.votes.size %></p>
<p><%= h @recipe.method %></p>
<p><%= link_to "Go Back", recipes_path %> | 
   <%= link_to "Edit recipe", edit_recipe_path %> | 
   <%= link_to "Delete recipe", @recipe, :method => 'destroy' %>
</p>

<div id="vote_form">
<% form_remote_tag :url => recipe_votes_path(@recipe) do %>
<%= submit_tag 'Vote for Recipe' %>
<% end %>
</div>

